/* ------------------------------------------------------------------------------ */
/*--------------------------------- GLOBAL STYLES --------------------------------*/
/* -------------------------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* ----------------------------------------------------------------------- */
/*--------------------------------- NAVBAR --------------------------------*/
/* ------------------------------------------------------------------------*/
header {
    background: linear-gradient(to right, #C1DEE8, #F6A355);
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-logo {
    color: black;
    height: 40px;
    margin-top: 15px;
    font-weight: bold;
}

.navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    justify-content: center;
}

.navbar-menu li {
    margin: 0 20px; /* Aumenta o espaço entre os itens do menu */
    padding: 10px 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona sombra aos botões */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Adiciona transição suave */
}

.navbar-menu li:hover {
    background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
    transform: translateY(-3px); /* Efeito de elevação ao passar o mouse */
}

.navbar-menu a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-menu a:hover {
    color: #de5e5b; /* Altera a cor do texto ao passar o mouse */
}

.navbar-buttons {
    display: flex;
    align-items: center;
}

.login-btn, .signup-btn {
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Adiciona transição suave */
}

.login-btn {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.login-btn:hover {
    background-color: #333; /* Altera a cor de fundo ao passar o mouse */
    transform: translateY(-3px); /* Efeito de elevação ao passar o mouse */
}

.signup-btn {
    background-color: #fff;
    color: #000;
    border: 1px solid black;
}

.signup-btn:hover {
    background-color: #f0f0f0; /* Altera a cor de fundo ao passar o mouse */
    transform: translateY(-3px); /* Efeito de elevação ao passar o mouse */
}


/* SEPARAÇÃO */

main {
    padding: 2rem;
}

.hero {
    background-color: #0073e6;
    color: #fff;
    padding: 2rem;
    text-align: center;
}

.hero .btn {
    background-color: #ff6600;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.courses-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.course {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    width: calc(33.333% - 2rem);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-align: center;
}

.course h3 {
    margin: 0;
}

.course p {
    margin: 0.5rem 0;
}

.course-detail {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
}

.course-detail ul {
    list-style: none;
    padding: 0;
}

.course-detail ul li {
    background-color: #f4f4f4;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* PAGINA DE LOGIN */

.quadrado-login {
  
    position: absolute;
    width: 399px;
    height: 487px;
    left: 90px;
    top: 170px;
    background: #ffffff;
    border: 2px solid #000;
    border-radius: 11px;
    text-align: center;
}

.conecte-se {

    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    top: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.caixa-texto-email {

    position: relative;
    width: 335px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    top: 160px;
}

.caixa-texto-senha {

    position: relative;
    width: 335px;
    height: 50px;
    top: 210px;
    border: 1px solid black;
    border-radius: 5px;
}

.botao-login {

    border: none;
    padding: 15px 60px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 250px;
    background: linear-gradient(to right, #C1DEE8, #F6A355);
}

.botao-cadastro {

    font-size: 14px;
    border: none;
    background-color: transparent;
    font-weight: bold;
    text-decoration-line: underline;
    cursor: pointer;
}