/* SET GLOBAL STYLES */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* -- NAVBAR -- */
header {
    background: linear-gradient(to right, #dbe5eb, #edac79);
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.navbar-logo  {
    color: black;
    height: 40px;
    margin-top: 15px;
    font-weight: bold;
}

.navbar-menu {

    background-color: white;
    margin-left: 130px;
    margin-right: 130px;
    padding: 0;
    display: flex;
    list-style: none;
    flex-grow: 1;
    justify-content: center; /* Centraliza o menu */
    border: 1px solid #000000;
    border-radius: 30px;
}

.navbar-menu li {
    margin: 15px;
}

.navbar-menu a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.navbar-actions {
    display: flex;
    align-items: center;
}

.login-btn, .signup-btn {
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}

.login-btn {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.signup-btn {
    background-color: #fff;
    color: #000;
    border: 1px solid black;
}


/* SEPARAÇÃO */

main {
    padding: 2rem;
}

.hero {
    background-color: #0073e6;
    color: #fff;
    padding: 2rem;
    text-align: center;
}

.hero .btn {
    background-color: #ff6600;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.courses-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.course {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    width: calc(33.333% - 2rem);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-align: center;
}

.course h3 {
    margin: 0;
}

.course p {
    margin: 0.5rem 0;
}

.course-detail {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
}

.course-detail ul {
    list-style: none;
    padding: 0;
}

.course-detail ul li {
    background-color: #f4f4f4;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
